<section>
    <div class="row">

           <div class="card" style="width: 18rem;">
                <div style="display: flex; justify-content: center;">
                    <img src="assets/images/home/kurti.jpg" routerLink="/kurti" class="card-img-top">
                </div>
                <div class="card-body" align="center" style="font-family: Brush Script MT ;font-size: larger;">
                    <a routerLink="/kurti" style="color:black; text-decoration: none;">Kurtis</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div style="display: flex; justify-content: center;">
                    <img src="assets/images/home/kurtaset.jpg" routerLink="/kurta-set" style="height: 350px;" class="card-img-top">
                </div>
                <div class="card-body" align="center" style="font-family: Brush Script MT ;font-size: larger;">
                    <a routerLink="/kurta-set" style="color:black; text-decoration: none; top: 20px;">Kurta-sets</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div style="display: flex; justify-content: center;">
                    <img src="assets/images/home/saree.jpg" routerLink="/saree" class="card-img-top">
                </div>
                <div class="card-body" align="center" style="font-family: Brush Script MT ;font-size: larger;">
                    <a routerLink="/saree" style="color:black; text-decoration: none;">Sarees</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div style="display: flex; justify-content: center;">
                    <img src="assets/images/home/dress.jpg"  class="card-img-top">
                </div>
                <div class="card-body" align="center" style="font-family: Brush Script MT ; font-size: larger;">
                    <a routerLink="/dresses" style="color:black; text-decoration: none;">Dresses</a>
                </div>
            </div>
    </div>
